.continer {
  /* width: max-content; */
  margin: 10%;
  margin-top: 20px;
  /* background-color: cadetblue; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
}
.form {
  /* background-color: red; */
  align-items: center;
  margin: 0px;
  padding: 0%;
  width: 100%;
  align-self: center;
  /* padding-bottom: 20px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.textReg {
  font-size: 30px;
  line-height: 40px;
  margin: 0%;
}
.line {
  background-color: #eeeeee;
  height: 2px;
  width: 80%;
  display: inline-flex;
}
.inputs {
  display: inline-flexbox;
  /* background-color: red; */
  justify-content: center;
  /* display: block; */
  margin-top: 20px;
  /* flex-direction: column; */
  align-items: center;
  width: 80%;
  align-self: center;
}
.TextField {
  width: 100%;
  background-color: #ececec;
  /* text-align: center;
  justify-content: center; */
  /* background-color: red; */
}
.textLabel {
  text-align: left;
  margin: 0%;
  margin-bottom: 10px;
  font-size: 12px;
  color: #353840;
  padding: 0%;
}
.input1 {
  width: 50%;
  margin: 10px;
  /* font-size: 4px; */
  /* display: block; */
  margin: 0%;
  padding: 0%;
}
.Checkbox {
  /* background-color: red; */
  /* width: 50%; */
  align-items: center;
  display: flex;
  flex-direction: row;
}
.textAccept {
  font-size: 12px;
  margin-left: 10px;
  padding: 0%;
}
a:visited {
  color: #a3906b;
}
a {
  color: hotpink;
  text-decoration: none;
}
.divIncome {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}
.divYes {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.divSelectYes {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50px;
  border-color: #ddd9d9;
  margin: 10px;
  overflow: hidden;
  padding: 1px;
  border-style: solid;
  border-width: 0.2ch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textYes {
  font-size: 13px;
  padding: 0%;
  /* background-color: red; */
  margin: 0%;
}
