.continer,
.continerReal {
  background-color: #ffffff;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  padding-block: 20px;
  margin: 16px auto;
  overflow: hidden;
}

.ImageCard {
  width: 250px;
  height: 100;
  border-radius: 10px;
  margin-top: 10px;
}
.textProperty {
  font-size: 20px;
}
.ButtonList {
  border: none;
  cursor: pointer;
  background-color: #ae9b77;
  font-size: 12px;
  font-weight: 600;
  width: 70px;
  height: 27px;
  color: #fff;
  text-align: "center";
  text-transform: "capitalize";
  border-radius: 10px;
  /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19); */
  border-color: rgb(148, 133, 133);
  border-color: rgb(138, 113, 93);
}
.divCArdRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: lawngreen; */
  justify-content: space-between;
  padding-inline: 10px;
  margin-top: 5%;
}
.divCArdRow p {
  font-size: 14px;
  padding: 0%;
  margin: 0%;
}
.divCArdRow p {
  font-size: 14px;
  padding: 0%;
  margin: 0%;
}
h1 {
  margin: 0mm;
  padding: 0mm;
}
.ProgressBar {
  /* color: red; */
  /* background-color: red; */
  width: 100%;
}
.divProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 5%;
}
.pReal {
  width: 160px;
  color: #6e737e;
  text-align: left;
  /* background-color: red; */
  padding-left: 10px;
  font-size: 10px;
}
.textProgress {
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 1000px) {
  .continer {
    /* margin-left: 100px; */
    padding-block: 10px;
    padding: 10px;
  }
  .ImageCard {
    width: 195px;
    height: 80px;
  }
  .ButtonList {
    width: 50px;
    height: 22px;
    font-size: 9px;
    border-radius: 9px;
  }
  .textProperty {
    font-size: 13px;
  }
}

@media only screen and (max-width: 750px) {
  .continer {
    /* margin-left: 60px; */
    padding-block: 10px;
  }
  .ImageCard {
    width: 145px;
    height: 70px;
  }
  .textProperty {
    font-size: 9px;
  }
  .ButtonList {
    width: 45px;
    height: 20px;
    font-size: 7px;
    border-radius: 7px;
  }
  .textProgress {
    font-size: 9px;
  }
  .divCArdRow p {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 500px) {
}
