.continer {
  background-color: #ffffff;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  padding-block: 20px;
  margin: 6px;
  overflow: hidden;
  margin-left: 50px;
}
.divCArdRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: lawngreen; */
  justify-content: space-between;
  padding-inline: 10px;
}
h1 {
  margin: 0mm;
  padding: 0mm;
}
.ProgressBar {
  /* color: red; */
  /* background-color: red; */
  width: 100%;
}
.divProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.pReal {
  width: 160px;
  color: #6e737e;
  text-align: left;
  /* background-color: red; */
  padding-left: 10px;
  font-size: 10px;
}
