.continer {
  /* width: max-content; */
  margin: 5%;
  margin-top: 20px;
  /* background-color: cadetblue; */
}
.viewHeader {
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
a {
  text-align: center;
  color: #fff;
}
.textabout {
  text-align: center;
  margin-top: 20px;
}
h3 {
  background: #5f9ea0;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.h2 {
  font-size: 14px;
  color: #fff;
}

.ButtonHeader {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #6e737e;
}
.inputsProfile {
  /* background-color: red; */
  /* align-items: center; */
  justify-content: left;
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  padding-bottom: 30px;
  /* padding-left: 10px; */
  /* position: relative; */
}
.inputs {
  display: flex;
  background-color: #fff;
  justify-content: center;
  /* display: block; */
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  width: 55%;
  align-items: center;
  justify-content: center;
  padding-block: 5px;
  margin-left: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.TextField {
  width: 100%;
  background-color: #ececec;
  /* background-color: red; */
}
.ImageUser {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-top: 30px;
}
.divEditImage {
  /* background-color: red; */
  /* width: 200px; */
  /* margin: auto; */
  /* padding: 0%; */
  /* position: relative; */
}
.IconEdit {
  margin: 0% auto;
  padding: 0%;
  position: absolute;
  right: 1%;
  top: 9%;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1px;
  padding: 3px;
}
.textEdit {
  margin: 0px;
  font-size: 15px;
  text-align: center;
  color: "#6D7075";
  font-weight: 500;
}
@media only screen and (max-width: 750px) {
  .ImageUser {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 30px;
  }
  .IconEdit {
    padding: 1px;
    right: -3%;
    top: 8%;
  }
  .textEdit {
    font-size: 12px;
  }
}
