.continer {
  /* width: max-content; */
  margin: 10%;
  margin-top: 20px;
  /* background-color: cadetblue; */
}
.continerLatest {
  margin: 10%;
  margin-top: 20px;
}
.viewHeader {
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
a {
  text-align: center;
  color: #fff;
}
.image {
  background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-network-information-electronic-technology-background-picture-image_1096792.jpg");
  height: 560px;
  width: auto;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding-left: 30px;
  padding: 30px;
}

.textImage p {
  /* background-color: #fff; */
  font-size: 14px;
  margin: 0%;
  margin-block: 10px;
  font-weight: 500;
  color: #f1f0ee;
  letter-spacing: 1px;
}
.continerAbout {
  /* background-color: red; */
  width: 330px;
}
p {
  font-size: 8px;
}
.estates {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* background-color: red; */
  margin-left: 10px;
}
.textabout {
  text-align: center;
  margin-top: 20px;
}
.textreal {
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
  margin-left: 20px;
  /* font-size: 16px; */
  /* margin-left: 20px; */
  padding-bottom: 20px;
  color: #353840;
}
.Realestate {
  text-align: center;
}
h3 {
  background: #5f9ea0;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.footer {
  /* width: 1200px auto; */
  height: 170px;
  background-color: #b19f7b;
  padding-top: 30px;
  padding-inline: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}
.continerAbout {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  width: 250px;
  /* margin: 20px; */
  height: fit-content;
  /* padding-inline: 20px; */
  justify-content: space-between;
  /* align-items: center; */
}
h2 {
  font-size: 14px;
  color: #fff;
}
.textPrivacy {
  /* background-color: red; */
  align-self: flex-end;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  margin: 20px;
  margin-block: 20px;
  align-items: center;
  font-size: 18;
}
.linkFooter {
  color: #fff;
}
.ButtonHeader {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  color: #6e737e;
  font-weight: 600;
}
.divUserCard {
  cursor: pointer;
  /* background-color: red; */
  display: flex;
  align-items: center;
  font-size: 17px;
  /* width: 10%; */
  /* justify-content: center; */
  text-align: center;
  /* font-size: 9px; */
}
.ImageUser {
  margin-inline: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.ButtonList {
  border: none;
  cursor: pointer;
  background-color: #ae9b77;
  font-size: 16px;
  font-weight: 600;
  width: 187px;
  height: 55px;
  color: #fff;
  text-align: "center";
  text-transform: "capitalize";
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  border-color: rgb(148, 133, 133);
  border-color: rgb(138, 113, 93);
}

.continerSlide {
  /* margin: 20; */
  /* width: 100%; */
  text-align: center;
  /* margin-left: 10px; */
  /* background-color: red; */
  /* align-items: center; */
  /* justify-content: center; */
}
.textLatest {
  text-align: center;
  font-size: 24px;
  margin-top: 35px;
  /* padding-bottom: 30px; */
  /* margin-left: 25px; */
  color: #353840;
  /* background-color: red; */
  padding: 0%;
  margin: 0% auto;
}
.textabout p {
  font-size: 18px;
  color: #6E737E;
  /* font-size: 13px; */
  /* margin-bottom: 20px; */
}
.LogoFooter {
  width: 160px;
  height: 55px;
}
.footer p {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
/* .footer p :hover {
  color: rgb(230, 26, 26);
  background-color: red;
} */
@media only screen and (max-width: 1100px) {
  .estates {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .ButtonHeader {
    font-size: 10px;
  }
  .divUserCard {
    display: inline;
    width: 7%;
    font-size: 10px;
  }
  .ImageUser {
    margin-inline: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }
  .ButtonList {
    width: 100px;
    height: 36px;
    font-size: 9px;
    /* background-color: red; */
  }
  .Logo,
  .LogoFooter {
    width: 120px;
    height: 45px;
  }
  .ButtonList {
    /* width: 70px;
    height: 35px; */
    font-size: 10px;
  }
  .textLatest {
    font-size: 15px;
  }
  .textabout p {
    font-size: 10px;
  }
  .textreal {
    font-size: 15px;
  }
  .continerAbout {
    /* background-color: red; */
    width: 320px;
    display: inline;
    align-items: center;
    text-align: center;
  }
  .textPrivacy {
    width: 400px;
    display: inline;
  }
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  .ButtonHeader {
    font-size: 8px;
    /* color: red; */
  }
  .divUserCard {
    display: inline;
    width: 7%;
    font-size: 8px;
    /* background-color: red; */
  }
  .ImageUser {
    margin-inline: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  .Logo,
  .LogoFooter {
    width: 70px;
    height: 30px;
  }
  .ButtonList {
    width: 70px;
    height: 30px;
    font-size: 7px;
  }
  .image {
    font-size: 20px;
  }
  .textLatest {
    font-size: 12px;
  }
  .textreal {
    font-size: 12px;
  }
  .footer p {
    font-size: 10px;
  }
  .textImage p {
    font-size: 10px;
    /* color: red; */
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .ButtonHeader {
    font-size: 7px;
  }
  .divUserCard {
    font-size: 7px;
  }
  .ButtonList {
    width: 60px;
    height: 25px;
    font-size: 7px;
  }
  .image {
    font-size: 15px;
  }
  .footer p {
    font-size: 8px;
  }
  .continerAbout {
    width: 400px;
    display: inline;
  }
  .textPrivacy {
    width: 400px;
    display: inline;
  }
}
