.continer {
  margin: 5%;
  margin-top: 20px;
  /* text-align: center; */
  margin-bottom: 2%;
}
.inputs {
  /* background-color: red; */
  display: inline-flexbox;
  /* background-color: red; */
  /* justify-content: center; */
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.textLabel {
  text-align: left;
  margin: 0%;
  margin-bottom: 10px;
  font-size: 12px;
  color: #353840;
  /* padding: 0%; */
  /* background-color: red; */
}
.picImage {
  width: 50%;
  /* background-color: red; */
}
.divpickImage {
  display: grid;
  grid-template-columns: auto auto auto;
  width: "100%";
  text-align: left;
  justify-content: space-between;
}
.ImagePick {
  width: 120px;
  height: 120px;
  overflow: hidden;
  background-color: #ececec;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  border-radius: 6px;
  /* z-index: 100px; */
  cursor: pointer;
  border: grey;
  border-style: solid;
  border-width: 0.1ch;

  /* margin-left: 20px; */
}
.Upload {
}

input[type="file"] {
  /* display: inline; */
  /* font-size: 100px; */
  /* background-color: red; */
  /* color: red; */
  /* width: 200px; */
  /* height: 500px; */
  z-index: 0px;
  /* position: absolute; */
}
.devPercentage {
  /* background-color: red; */
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin-top: 0px;
}
